[submodule "mediasoup-demo"]
	path = mediasoup-demo
	url = https://github.com/tesYolan/mediasoup-demo
[submodule "Talk-To-Avatar-Admin"]
	path = Talk-To-Avatar-Admin
	url = https://github.com/tesYolan/Talk-To-Avatar-Admin
